[submodule "lib/functions"]
	path = lib/functions
	url = https://github.com/repasscloud/libsfw-ps.git
[submodule "data/libsfw-corelib"]
	path = data/libsfw-corelib
	url = https://github.com/repasscloud/libsfw-corelib.git
	branch = dev
